
@{
    ViewBag.Title = "Index";
}

<h2>CATALOGUE DE PRODUITS</h2>

<hr />

@foreach (var item in ViewBag.CategoryList)
{
    <div class="row col-xs-12">
        <div style="background-color:cornsilk; font-size:18px; color:red" >
            @item.LIBELLE_CATEGORIE
        </div>
        @foreach(var prod in item.CAT_PRODUIT)
        {
            <div class="col-xs-12 colsm-3">
                <div>
                    @prod.LIBELLE_PRODUIT
                </div>
                <div>
                    <img src="@prod.URL_IMAGE/@prod.IMAGE_PRODUIT" width="200" height="180"/>
                </div>
                <div>@prod.DESCRIPTION_PRODUIT</div>
                <div>
                    <a href="" class="btn btn-info">Voir Details</a>
                </div>
            </div>
        }
        <hr />
    </div>
    <hr />
}
